<div class="container">
  <div class="row">
    <%= image_tag('Welcome_in_the_money.jpg') %>
    <div class="col-sm-4 offset-sm-4">
      <%= link_to "SIGN IN", new_user_session_path, class: "btn btn-outline-dark btn-lg" %>
      <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-outline-dark btn-lg" %>
    </div>
  </div>
</div>
