<div class="container">
  <div class="row">
    <%= image_tag('Welcome_in_the_money.jpg') %>
    <div class='buttons'>
      <button type="button" class="btn btn-outline-dark btn-lg">SIGN IN</button>
      <button type="button" class="btn btn-outline-dark btn-lg">SIGN UP</button>
    </div>
  </div>
</div>
